.DS_Store

__pycache__

.ipynb_checkpoints

testbench.ipynb
*_test.ipynb
*_test.py
*_chains.npy
*_output.npy
*.pickle
*.py~

BPASS_imf135_300.tar.gz
BPASS_imf_chab300_fullgrid_ng.h5*
PEGASE_imf_kroupa01_fullgrid_ng.h5*

lightning/recycling_bin/

docs/build

IZw18*
