.DS_Store
build
plightning.egg-info

__pycache__

.ipynb_checkpoints

testbench.ipynb
*_test.ipynb
*_test.py
*_chains.npy
*_output.npy
*.pickle
*.pkl
*.py~

examples/fit_qsosed_sim_demo.ipynb
examples/fit_sim_AGN_demo.ipynb

tests/*.h5
tests/tests.err
tests/tests.out

BPASS_imf135_300.tar.gz
BPASS_imf135_300*
BPASS_imf_chab300_fullgrid_ng.h5*
PEGASE_imf_kroupa01_fullgrid_ng.h5*
BPASS_imf_chab300_fullgrid_g.h5*
PEGASE_imf_kroupa01_fullgrid_g.h5*
BPASS_G24_imf135_100_fullgrid_*.h5*

lightning/recycling_bin/

docs/build

IZw18*
